---
import Layout from '../layouts/Layout.astro';
import TextScroll from '../components/TextScroll.astro';
import CommonButton from '../components/CommonButton.astro';
import SectionTitle from '../components/SectionTitle.astro';
import Card from '../components/Card.astro';
import CasesSwiper from '../components/CasesSwiper.astro';
import CountButton from '../components/CountButton.astro';

import '../scss/pages/pg-hero.scss'
import '../scss/pages/pg-features.scss'
import '../scss/pages/pg-advantage.scss'
import '../scss/pages/pg-recommend.scss'
import '../scss/pages/pg-news.scss'
import '../scss/pages/pg-start.scss'
import '../scss/pages/pg-pokemon.scss'

import { Image } from 'astro:assets';
import heroImage from '../images/astronaut.png';
import toTop from '../images/totop.svg';
import samplePoke from '../images/pokemon/ball.png';

const featuresCard = [
	{
		title: "サーバーファースト",
		text: "従来のサーバーサイドフレームワーク（PHPやRuby on Railsなど）と同じサーバーサイドのレンダリングを可能な限り活用します。\nこれは、近年のモダンなJavaScriptフレームワークのクライアントサイドレンダリングとは対照的なアプローチです。"
	},
	{
		title: "アイランド",
		text: "静的コンテンツUIと、インタラクティブUI(ReactやVueなどを用いた)をそれぞれ島のように孤立させ、一つのページで共存させます。大部分の島はHTMLやCSSで構成されるため、インタラクティブな島だけにJSを読み込ませます。結果、軽量化が実現されます。"
	},
	{
		title: "複雑さへのオプトイン",
		text: ".astroファイルは、HTML とよく似たシンタックスを使用し、「必要な複雑さ」を可能な限り取り除いています。\n新しい機能やAPIを段階的に追加することで、よりダイナミックなサイトを構築することも可能です。"
	}
]
const advantageCard = [
	{
		title: "ファイルベースのルーティングシステム",
		text: "src/pages/ディレクトリ以下に.astroか.mdを配置すると、自動的に静的なルーティングを設定できます。"
	},
	{
		title: "Markdown形式をサポート",
		text: "ブログ投稿やドキュメントのようなテキストを多用するコンテンツ制作時に使われるMarkdownを、ビルトインでサポートしています。"
	},
	{
		title: "TypeScriptのサポート",
		text: ".tsや.tsxファイルをインポートしたり、コンポーネントの中で直接TypeScriptコードを書いたり、astro.config.tsファイルを使うこともできます。"
	}
]

const metas = {
	title: "Astro is the one.",
	discription: "Astroの魅力を伝えるサイトです。",
	dir: '',
	path: '/'
}

---

<Layout title={metas.title} description={metas.discription}, dir={metas.dir}, path={metas.path}, menuBgBlue={true}>
	<main>
		<section class="pg-hero">
			<TextScroll />
			<div class="l-container">
				<p class="hero__img"><Image src={heroImage} alt="宇宙飛行士" loading="eager"/></p>
				<h3 class="title">Astro is...</h3>
				<p class="lead">Astroは高パフォーマンスな静的サイトをつくる静的サイトジェネレーターです。ビルド時に可能な限りJavaScriptを排除（Partial Hydration）するため、<span class="font-bold">軽量</span>かつ<span class="font-bold">スピードの早い</span>パフォーマンスに優れたサイトを実現します</p>
				<CommonButton href="https://astro.build/" text="Get started" bgColor="is__orange" isEng={true}>
			</div>
		</section>
		<section class="pg-features">
			<div class="l-container">
				<SectionTitle text="特徴" isWhite={true} />
				{featuresCard.map((card) => (
					<Card title={card.title} text={card.text} />
				))}
				<div class="feature__intractive">
					<h3 class="title">こんな感じで<br>インタラクティブに<br>できるよ<span class="font-sm">Click!</span></h3>
					<CountButton />
				</div>
			</div>
		</section>
		<section class="pg-advantage">
			<div class="l-container">
				<SectionTitle text="メリット" isWhite={true} />
				{advantageCard.map((card) => (
					<Card title={card.title} text={card.text} />
				))}
			</div>
			<TextScroll />
		</section>
		<section class="pg-recommend l-bg-white">
			<div class="l-container">
				<SectionTitle text="こんなサイトに..." isWhite={false} />
				<ul class="recommend__list">
					<li class="recommend"><span class="text-underline">高パフォーマンスな静的サイトを構築したい</span></li>
					<li class="recommend"><span class="text-underline">Next.jsやNuxtJSがオーバースペックに感じるサイト</span></li>
					<li class="recommend"><span class="text-underline">JSフレームワークを使いつつ、不要なJavaScriptは省きたい</span></li>
					<li class="recommend mgb"><span class="text-underline">コンポーネント指向で開発したい</span></li>
					<li class="unrecommend">アプリ開発</li>
					<li class="unrecommend">SPA</li>
				</ul>
			</div>
		</section>
		<section class="pg-news l-bg-white">
			<div class="l-container">
				<SectionTitle text="CMSも使えるよ" isWhite={false} />
				<div class="news__wrap">
					<li><a href=""><span class="date">2023/09/30</span><span class="title">ダミーテキストダミーテキストダミーテキスト</span></a></li>
					<li><a href=""><span class="date">2023/09/30</span><span class="title">ダミーテキストダミーテキストダミーテキスト</span></a></li>
					<li><a href=""><span class="date">2023/09/30</span><span class="title">ダミーテキストダミーテキストダミーテキスト</span></a></li>
					<li><a href=""><span class="date">2023/09/30</span><span class="title">ダミーテキストダミーテキストダミーテキスト</span></a></li>
					<li><a href=""><span class="date">2023/09/30</span><span class="title">ダミーテキストダミーテキストダミーテキスト</span></a></li>
				</div>
				<CommonButton href="/news" text="一覧へ" bgColor="is__purple" isEng={false} />
			</div>
		</section>
		<section class="pg-pokemon l-bg-white">
			<div class="l-container">
				<SectionTitle text="CPもACFも使えるよ" isWhite={false} />
				<ul class="poke__wrap l-inner__flex">
					<li><a href=""><Image src={samplePoke} alt="sample" /><span class="name">ポケモンの名前</span></a></li>
					<li><a href=""><Image src={samplePoke} alt="sample" /><span class="name">ポケモンの名前</span></a></li>
					<li><a href=""><Image src={samplePoke} alt="sample" /><span class="name">ポケモンの名前</span></a></li>
					<li><a href=""><Image src={samplePoke} alt="sample" /><span class="name">ポケモンの名前</span></a></li>
				</ul>
			</div>
			<CommonButton href="/pokemon" text="一覧へ" bgColor="is__purple" isEng={false} />
		</section>
		<section class="pg-cases l-bg-white">
			<div class="l-container">
				<SectionTitle text="導入事例" isWhite={false} />
				<CasesSwiper />
			</div>
		</section>
		<section class="pg-start">
			<div class="l-container">
				<CommonButton href="https://astro.build/" text="Get started" bgColor="is__orange" isEng={true}/>
				<p class="code">$ npm create astro@latest</p>
				<a class="totop-image" href="/"><Image src={toTop} alt="先頭へ戻る"/></a>
			</div>
		</section>
	</main>
</Layout>