---
import Layout from '../../layouts/Layout.astro';
import PageTitle from '../../components/PageTitle.astro';
import NewsCard from '../../components/NewsCard.astro';

import news1 from '../../images/news/news01.jpg';
import news2 from '../../images/news/news02.jpg';
import news3 from '../../images/news/news03.jpg';

const metas = {
	title: "NEWS",
	discription: "CMS笺葛",
	dir: '/news',
    path: '../'
}

const newsCards = [
    {
        href: "news/single",
        thumbnail: news1,
        alt: "肩诲",
        date: "2023/09/30",
        title: "笺裤ゃ",
        excerpt: "笺广笺广笺广笺广笺广",
    },
    {
        href: "news/single",
        thumbnail: news2,
        alt: "肩诲",
        date: "2023/09/30",
        title: "笺裤ゃ",
        excerpt: "笺广笺广笺广笺广笺广",
    },
    {
        href: "news/single",
        thumbnail: news3,
        alt: "肩诲",
        date: "2023/09/30",
        title: "笺裤ゃ",
        excerpt: "笺广笺广笺广笺广笺广",
    }
];
---
<Layout title={metas.title} description={metas.discription}, dir={metas.dir}, path={metas.path}, menuBgBlue={false}>
    <section class="l-second-page l-bg-blue">
        <div class="l-container">
            <PageTitle text="ャ" isWhite={true} />
            {newsCards.map(card => (
                <NewsCard {...card} />
            ))}
        </div>
    </section>
</Layout>