---
import Layout from '../../layouts/Layout.astro';
import PageTitle from '../../components/PageTitle.astro';
import NewsCard from '../../components/NewsCard.astro';
import Pagination from '../../components/Pagination.astro';

const metas = {
	title: "NEWS",
	discription: "CMSã®ãƒšãƒ¼ã‚¸ðŸ“",
	dir: '/news',
    path: '../'
}

const { page } = Astro.params;

const res = await fetch(`${import.meta.env.PUBLIC_API_URL}posts?_embed&per_page=10`); //per_pageã§è¡¨ç¤ºæ•°ã‚’è¨­å®š
const posts = await res.json();
const total = Number( res.headers.get('x-wp-totalpages') );
const pages: number[] = Array(+total).fill(null).map((_, i) => i + 1);
const firstPage = 1;
// Formatted Date
const dateFormatt = (defaultDate) => {
    const date_data = new Date(defaultDate);
    const year = date_data.getFullYear();
    const month = date_data.getMonth() + 1;
    const day = date_data.getDate();
    const date = `${year}/${month}/${day}`;
    return date;
}
// Omitted Content
const omittedContent = (string) => {
    // æœ€å¤§å€¤
    const MAX_LENGTH = 50;
    // ã‚¿ã‚°é™¤åŽ»
    const pureString = string.replace(/(<([^>]+)>)/gi, '');

    if (pureString.length > MAX_LENGTH) {
        return pureString.substr(0, MAX_LENGTH) + '...';
    }
    return pureString;
}
---
<Layout title={metas.title} description={metas.discription}, dir={metas.dir}, path={metas.path}, menuBgBlue={false}>
    <section class="l-second-page l-bg-blue">
        <div class="l-container">
            <PageTitle text="ãŠçŸ¥ã‚‰ã›" isWhite={true} />
            {posts.map((post:any) => (
                <NewsCard href={`/news/${post.slug}`} thumbnail={post.thumbnail.url} alt={post.title.rendered} date={dateFormatt(post.date)} title={post.title.rendered} excerpt={omittedContent(post.content.rendered)}/>
            ))}
            <Pagination pages={pages} currentPage={firstPage} parentPage="news" />
        </div>
    </section>
</Layout>